* {
  box-sizing: border-box;
}

body,html{
  margin: 0;
  background-image: url("/src/Photos/SportsBackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}



.container {
  margin: 1rem;
  text-align: center;
}

.site-title {
  font-size: 2rem;
}

.text {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: azure;
}
